
@media only screen and (max-width:991px) {

    #hide{
      display: none;
    }
    
    }



    .container{
        padding-top: 100px;
    }
    
    .registration-form{
        padding: 50px 0;
        
    }
    
    .registration-form form{
        background-color: #e1e5ea;
        width: 100%;
        margin: auto;
        padding: 50px 70px;
        border-radius: 30px;
        outline: 1px solid #7d12ff;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    }
    .registration-form img{
        text-align: center;
        border-radius: 50%;
        width: 100px;
        margin: auto;
        margin-bottom: 50px;
        line-height: 100px;
    }
    .registration-form .form-icon{
        text-align: center;
        background-color: #7d12ff;
        border-radius: 50%;
        font-size: 40px;
        color: white;
        width: 100px;
        height: 100px;
        margin: auto;
        margin-bottom: 50px;
        line-height: 100px;
    }
    
    .registration-form .item{
        border-radius: 20px;
        margin-bottom: 25px;
        padding: 10px 20px;
    }
    
   
    
    @media (max-width: 576px) {
        .registration-form form{
            padding: 50px 20px;
        }
    
        .registration-form .form-icon{
            width: 70px;
            height: 70px;
            font-size: 30px;
            line-height: 70px;
        }
    }

    .tag__item {
        display: inline-block;
        background: rgba(83, 83, 83, 0.4);
        border-radius: 3px;
        padding: 2.5px 10px;
        margin: 0 5px 5px 0;
        cursor: default;
        user-select: none;
        transition: background-color 0.3s;
  
        &:hover {
          background: rgba(83, 83, 83, 0.8);
        }
      }