




.theme-text{
  color: #39b54a;
}
.container-fluid{
  
  img{
    border-radius: 50%;
        width: 70px;
        margin: auto;
        display: inline-block;
        line-height: 100px;
  }
h3{
  display: inline-block;
  vertical-align: middle;
}
}
.padd{
  padding-bottom: 1000px;
}
.total{
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8)),
      url("../../../assets/Images/pexels-ivan-bertolazzi-2681319.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    overflow-y: hidden;
    //background-color: rgba(0,0,0,0.9);
	overflow-x: hidden;
}
a {
	cursor:pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #fff;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #fff;
  //background-color: #1f2029;
  background-color: #121212;
  font-family: 'unicons';
  content: '\2196';
  
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}


.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  background-color: #121212;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}

.google{
  //background-color: red;
        
          margin-top: 3rem;
          text-decoration: none;
          color: #000;
          //background: #fff;
          padding: 0.65rem 1rem;
          border-radius: 20px;
          font-size: 0.85rem;
        div {
          margin-left: 5rem;
          .logo{
            background-color: red;
          }
      }
      .google-icon {
        position: relative;
        
        width: 1rem;
        
      }
}


