<div class="total"  >


<div class="section">
    <div class="container">
        <div class="container-fluid">
            <br>
            
            <img src="../../../assets/Images/davv.png" alt="">
            &nbsp;
            <h3 class="text-white display-5 fw-bold">IET<span class="theme-text">Lingo</span></h3>

        </div>

        <div class="row full-height justify-content-center padd">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">

                    <!-- <h2 class="mb-0 pb-3 login"><span>Log In </span></h2> -->
                      <!-- <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/> -->
                      <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto card_login">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h2 class="mb-4 pb-3">Join IET<span class="theme-text">Lingo.</span></h2>
                                        <div class="google">
                                            
                                            <div >

                                            
                                                <asl-google-signin-button  class="logo" shape="pill"  type="standard" size="medium" logo_alignment="center"  ></asl-google-signin-button>
                                            </div>
                                           <!-- <button (click)="signInWithGoogle()">Sign In with Google</button> -->
                                            

                                        
                                            
                                        </div>
                                        
                                    </div>
                                  </div>
                              </div>
                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <h2 class="mb-4 pb-3">Join <span class="theme-text">Lingo.</span></h2>
                                        <div class="google">
                                            <div>

                                            
                                                <asl-google-signin-button class="logo" shape="pill" type="standard" size="medium" logo_alignment="center"></asl-google-signin-button>
                                            </div>
                                            <!-- <a href="#" ><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>&nbsp; &nbsp;  Sign up with Google</a> -->
                                        </div>	
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </div>
</div>
</div>
<div *ngIf="isAuthorized()? navigation() :null">

</div>