<!-- *ngIf="profile() === true" -->



<div *ngIf="isAuthorized()">

    <app-user-header></app-user-header>
    <!-- <h1>Please Enter all details</h1> -->
    <div class="container">
        <div class="registration-form">
            <form  (ngSubmit)="OnSubmit()" >
                <div class="form-icon">
                    <img src="../../../assets/Images/davv.png" alt="">
                </div>
                <div class="form-group">
                    &nbsp; &nbsp; <label for="companyName">Company Name</label>
    
                    <select placeholder="companyName" class="form-control item" id="companyName" required [(ngModel)]="tempCN" name="companyName" >
                        <option value="menu" hidden disabled selected value class="op"></option>
                        <option *ngFor="let m of company_menu" value="{{m}}">{{m}}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="tempCN==='Others'">
                      &nbsp; &nbsp;  <label for="others">Write down the Company Name</label>
                      <input type="text" class="form-control item" id="others" required
                      [(ngModel)]="question[0].companyName" name="others" autocomplete="off">
    
                </div>
                <div class="form-group">
                    &nbsp; &nbsp; <label for="category">Category <p style="color: red;display: inline;">*</p></label>
    
                    <select placeholder="Category" class="form-control item" id="category" required [(ngModel)]="question[0].category" name="category" >
                        <option value="Category" hidden disabled selected value class="op"></option>
                        <option value="Internship">Internship</option>
                        <option value="Full-time">Full-time</option>
                        <option value="InternAndFTE">Intern+FTE</option>
                    </select>
                </div>
                <div class="form-group">
                    &nbsp; &nbsp; <label for="category">Campus <p style="color: red;display: inline;">*</p></label>
    
                    <select placeholder="Campus" class="form-control item" id="campus" required [(ngModel)]="question[0].campus" name="campus" >
                        <option value="Campus" hidden disabled selected value class="op"></option>
                        <option value="OnCampus">OnCampus</option>
                        <option value="OffCampus">OffCampus</option>
                    </select>
                </div>
                <div class="form-group">
                    &nbsp; &nbsp; <label for="round">Type of Round <p style="color: red;display: inline;">*</p></label>
    
                    <select placeholder="Round" class="form-control item" id="Round" required [(ngModel)]="question[0].round" name="round" >
                        <option value="Round" hidden disabled selected value class="op"></option>
                        <option value="OA">Online Assessment</option>
                        <option value="Technical">Technical Interview</option>
                        <option value="Aptitute">Aptitute</option>
                        <option value="HR">HR</option>
                        <option value="Overall">Overall</option>
                    </select>            
                </div>

                <div class="form-group">
                    &nbsp; &nbsp; <label for="text">LinkedIn Profile Link</label>
                    <input type="text" class="form-control item" id="text" required [(ngModel)]="question[0].linkedIn" name="date" >
                </div>
                
                <!-- <div class="form-group" *ngFor="let q of sam_data;let i=index">
                    &nbsp; &nbsp; <label for="question{{ i }}">Question {{ i + 1 }} <p style="color: red;display: inline;">*</p></label>
                    <input type="text" class="form-control item"  autocomplete="off" value="{{q}}" [(ngModel)]="sam_data[i]" [ngModelOptions]="{standalone: true}"required  >
    
                </div> -->
                
                    <div *ngFor="let control of questionControls; let i = index" class="form-group">
                        &nbsp; &nbsp; <label for="question{{ i }}">Question {{ i + 1 }} <p style="color: red;display: inline;">*</p></label>
                        <textarea type="text" class="form-control item"  [formControl]="control" autocomplete="off" required [value]="control.value"></textarea>
                      </div>
                
                
                
    
                <div class="form-group" style="text-align: center;">
                    <button type="submit"  class="btn btn-block create-account">Update</button>
                </div>
            </form>
            
        </div>
        
    </div>
    </div>
    <div *ngIf="!isAuthorized()?navigation():null">
        
    </div>
     <!-- <i class="fa fa-solid fa-key"></i> -->
    
    
    